@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8.5rem;
  text-transform: uppercase;
  color: white;
}

nav ul {
  display: flex;
  gap: 2rem;
  font-size: 1.15rem;
}

nav p {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 1.5rem;
  letter-spacing: 1px;
}

nav p span {
  color: #f8ca29;
}

.hero-container {
  position: relative;
  min-height: 120vh;
}

.hero-bg {
  background: #1a1919;
  position: absolute;
  inset: 0;
  z-index: 0;
  clip-path: polygon(9% 0, 100% 0, 100% 94%, 2% 61%);
}

.hero-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.hero-text {
  color: white;
  padding: 0 0 0 7.5rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.hero-text div {
  margin-top: 7rem;
}

.hero-text div h1 {
  font-size: 65px;
}

.hero-img {
  width: 420px;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.social-links-item {
  width: 32px;
  height: 32px;
  background: #918f8f;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.social-links-item img {
  width: 100%;
  height: 100%;
}

.play-btn-wrapper {
  position: absolute;
  top: 60%;
  left: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-btn-bg {
  position: absolute;
  background: #f8ca29;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  animation: beat 1.5s infinite ease-out;
  z-index: 10;
}

.play-btn {
  background-color: white;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 4px solid #f8ca29;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes beat {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

.services-container {
  padding: 0 5rem 3rem 5rem;
}

.common-title {
  color: #f8ca29;
  font-size: 2.5rem;
}

.common-title span {
  color: #252f2d;
  border-bottom: 5px solid #252f2d;
}

.services-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 3rem;
}

.service-card {
  width: 250px;
  height: 250px;
  border: 5px solid #f8ca29;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 50%;
}

.service-card img {
  width: 90px;
  object-fit: cover;
}

.service-card p {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-top: 12px;
  color: #414040;
}

button {
  background: #252f2d;
  color: white;
  padding: 1.15rem 2.75rem;
  width: fit-content;
  border-radius: 6px;
  border: 0;
  outline: 0;
  font-size: 1.1rem;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #f8ca29 !important;
  cursor: pointer;
}

.btn-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1.75rem;
}

.portfolio-container {
  padding: 4rem 3rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3rem;
  padding: 3rem 6rem;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-item {
  height: 400px;
  position: relative;
  transition: all 1s ease-in-out;
}

.portfolio-item-overlay {
  position: absolute;
  inset: 0;
  background: #00000067;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.portfolio-item:hover .portfolio-item-overlay {
  opacity: 1;
  visibility: visible;
}
